<div class="container">
  <div class="cards">
    <% @cocktails.reverse.each do |instance| %>
      <%= link_to cocktail_path(instance) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=instance.image%>)">
          <h2><%=instance.name %></h2>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
